/* stylelint-disable selector-list-comma-newline-after */

body {
  color: #696969;
  font-family:  "Lora", "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 0.875rem;
  line-height: 2;
  word-wrap: break-word;
}

p {
  margin: 0.9375rem 0rem;
}

a {
  color: #393939;
  text-decoration: none;  
}
a:hover, a:focus {
  color: #a161bf;
  text-decoration: none;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-size: 1.875rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family:  "Montserrat", sans-serif, serif;
  }

  main {
    margin-top: 2.5rem;
    margin-bottom: 2.5em;
  }

  .tagline {
    font-family:  "Montserrat", sans-serif, serif;
    letter-spacing: 0.0625rem;
    font-size: 0.875rem;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /*
   * Blog name and description
   */
  .blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  .blog-description {
    font-size: 1.1rem;
    color: #999;
  }
  
  @media (min-width: 40em) {
    .blog-title {
      font-size: 3.5rem;
    }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post header {
    text-align: center;
    font-size: 0.875rem;
  }
  .blog-post-categories {
    font-size: 0.75rem;
    list-style: none;
    letter-spacing: 0.0625rem;
    font-family:  "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
  }
  .blog-post-title {
    margin-bottom: .9375rem;
    font-style: italic;
    font-family: "Lora", serif;
    font-size: 1.5rem;
  }
  .blog-post-title a {
    color: #444;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  .blog-post-navigation {
    font-family:  "Montserrat", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
  }
  /*
   * Sidebar widgets
   */
  .blog-sidebar h4 {
    font-size: 0.875em;
  }
  .blog-sidebar .blog-seperator {
    margin-left: 0;
  }
  .blog-sidebar ol li {
    border-bottom: 1px solid #F2F2F2;
  }

  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    font-family:  "Montserrat", sans-serif;
    font-size: 0.75rem;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  
.blog-seperator {
  border: 0;
  border-top: 0.15rem solid #a161bf;
  width: 2.5rem;
  margin-top: 0.125rem;
}

.carousel-caption h5 {
  font-style: italic;
  font-size: 1.75rem;
}