.staticman-comments {
  margin-bottom: 4rem;
}

.staticman-comments button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  border: 1px solid #ddd;
  background: #f2f2f2;
  color: #696969;
  padding: 4px 80px;
  display: inline-block;
  cursor: pointer;
}

.staticman-comments .hide {
  display: none;
}

.staticman-comments input {
    border: 1px solid rgba(0,0,0,0.12);
    padding: 4px 5px;
    width: 100%;
}  

.staticman-comments textarea {
    height: 10em;
}

.staticman-comments .comment-avatar {
  float:left;
  width: 48;
  height: 48;
  margin-right: 10px;
}  

.staticman-comments .markdown-notice {
  margin: 0 0;
  text-align: right;
  font-size: 0.75rem;    
}

.staticman-comments .akismet_notice {
  margin: 0 0;
  font-size: 0.75rem;    
}

.staticman-comments .submit-errors {
    color: red;
}