<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <div class="container">
            {{- partial "header.html" . -}}
            <!-- {{- partial "header-categories.html" . -}} -->
            <!-- {{- partial "header-large-feature.html" . -}} -->
            <!-- {{- partial "header-features.html" . -}} -->
        </div>

        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
    </body>
</html>
