<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <div class="container">
            {{- partialCached "header.html" . -}}
            <!-- {{- partial "header-categories.html" . -}} -->
            <!-- {{- partial "header-large-feature.html" . -}} -->
            <!-- {{- partial "header-features.html" . -}} -->
        </div>

        {{- block "before-main" . }}{{- end }}

        {{- block "main" . }}{{- end }}

        {{- partialCached "gallery/load-photoswipe.html" . -}}

        {{- partialCached "footer.html" . -}}
        {{- partialCached "scripts.html" . -}}
    </body>
</html>
