{{ define "main" }}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            {{- partial "post-body.html" . -}}

            {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
                <!-- {{ if .Site.DisqusShortname }}
                <div class="disqus-comments">
                    {{ template "_internal/disqus.html" . }}
                </div>
                {{ end }} -->
                {{ if .Site.Params.staticman }}
                <div class="staticman-comments">
                    {{ partial "comments-post.html" . }}
                </div>
                {{ end }}
            {{ end }}

            <div class="blog-post-navigation">
                <div class="float-left">
                    {{ if .Next }} <a href="{{.Next.Permalink}}"><i class="fa fa-chevron-left"></i> {{.Next.Title | upper}}</a> {{ end }} 
                </div>
                <div class="float-right">
                    {{ if .Prev }} <a href="{{.Prev.Permalink}}">{{.Prev.Title | upper}} <i class="fa fa-chevron-right"></i></a> {{ end }}    
                </div>
            </div>    
        </div><!-- /.blog-main -->

        {{- partial "sidebar.html" . -}}

    </div><!-- /.row -->

</main><!-- /.container -->

{{ end }}