<section class="comments-area">
  {{ $.Scratch.Add "commentCount" 0 }}
  {{ $entryId := .File.BaseFileName }}

  {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
    {{ $.Scratch.Add "commentCount" 1 }}
  {{ end }}       

  {{ if eq ($.Scratch.Get "commentCount") 0 }}
    <h3>Nog geen commentaar</h3>
  {{ else }}  
    <h3>{{$.Scratch.Get "commentCount" }} reacties op “{{ .Title }}”</h3>

    <ol>
    {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
      {{ if not .replyTo }}
      <li>
        <div class="d-flex flex-row">
          <div>
              <img class="avatar" src="https://secure.gravatar.com/avatar/{{ .email }}?s=100&d=mm&r=g">
          </div>
          <div>
            <div class="author">
              {{ .name }}
              <!-- <a id="{{ .id }}" href="#comment-form" onclick="changeValue('fields[replyTo]', '{{ .id }}')" aria-label="Antwoord op {{ .name }}">beantwoorden</a> -->
            </div>
            <small><time>{{ dateFormat "Monday 2 Jan 2006 om 15:45" .date }}</time></small>
            <p>{{ .body | markdownify }}</p>
            <hr class="blog-seperator"/>
          </div>
        </div>
        {{ partial "comment-replies" (dict "entryId_parent" $entryId "SiteDataComments_parent" $.Site.Data.comments "parentId" .id "parentName" .name "context" .) }}
      </li>
      {{ end }}
    {{ end }}
    </ol>
  {{ end }}

  <!-- {{ partial "comment-form" . }} -->
</section>