{{ $paginator := .Paginate (where .Pages "Type" "post").ByDate.Reverse }}
{{ $itemsWithBanner := where $paginator.Pages ".Params.banner" "!=" nil }}
{{ if (gt (len $itemsWithBanner) 0) }}
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {{ range $index, $item := $itemsWithBanner }}
            <div class="carousel-item {{ if eq $index 0 }} active {{ end }}">
                <a href="{{ .Permalink }}">
                    <div style="background: url({{ .Site.BaseURL}}{{ .Params.banner }}) no-repeat center; background-size: cover; height:400px">
                        <div class="carousel-caption d-md-block">
                            <h5>{{ .Title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {{ end }}
            
        <ol class="carousel-indicators">
            {{ range $index, $item := $itemsWithBanner }}
                <li data-target="#carouselIndicators" data-slide-to="{{ $index }}" {{ if eq $index 0 }}  class="active" {{ end }}></li>
            {{ end }}
        </ol>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{{ end }} 