{{ $pagesWithBannerScratch := newScratch }}
{{ $pagesWithBannerScratch.Set "pages" slice }}

{{ $paginator := .Paginate (where .Pages "Type" "post").ByDate.Reverse }}
{{ range $paginator.Pages }}
    {{ $page := . }}
    {{ with .Resources.ByType "image" }}
        {{ range first 1 (where . ".Params.banner" "eq" true) }}
            {{ $pagesWithBannerScratch.Add "pages" (slice $page) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $itemsWithBanner := ($pagesWithBannerScratch.Get "pages") }}
{{ if (gt (len $itemsWithBanner) 0) }}
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {{ range $index, $item := $itemsWithBanner }}
            {{ with .Resources.ByType "image" }}
                {{ range first 1 (where . ".Params.banner" "eq" true) }}
                    {{ $bannerImage := .Fit "1000x1000" }}
                    <div class="carousel-item {{ if eq $index 0 }} active {{ end }}">
                        <a href="{{ $item.Permalink }}">
                            <div style="background: url({{ $bannerImage.RelPermalink }}) no-repeat center; background-size: cover; height:400px">
                                <div class="carousel-caption d-md-block">
                                    <h5>{{ $item.Title }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {{ end }}
            {{ end }}
        {{ end }}
            
        <ol class="carousel-indicators">
            {{ range $index, $item := $itemsWithBanner }}
                <li data-target="#carouselIndicators" data-slide-to="{{ $index }}" {{ if eq $index 0 }}  class="active" {{ end }}></li>
            {{ end }}
        </ol>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{{ end }} 